body {
 background-color: #0D0D0D;
}

p {
 color: white;
}

h1 {
 color: white;
}

h2 {
 background-color: #022859;
 color: white;
 text-align: center;
}

.Lateral{
 display: flex;
 justify-content: space-between;
 flex-direction: row; 
}

.Education1 {
 margin: 20px;
 padding: 15px;
 box-shadow: -2px -2px 5px yellow;
 border-radius: 8px;
}

.Languages1 {
 margin: 20px;
 padding: 15px;
 box-shadow: -2px -2px 5px yellow;
 border-radius: 8px;
}

.Skills1 {
 margin: 20px;
 padding: 15px;
 box-shadow: -2px -2px 5px yellow;
 border-radius: 8px;
}

.Presentation1 {
 margin: 20px;
 padding: 15px;
 box-shadow: -2px -2px 5px yellow;
 border-radius: 8px;
}

.Experience1 {
 margin: 20px;
 padding: 15px;
 box-shadow: -2px -2px 5px yellow;
 border-radius: 8px;
}


